.dav__cover_image {
  background-color: #f5f5f5;
  padding: 10px;
  border: 2px dashed #0000006e;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;

}
.dav__cover_image p{
    font-family: "Merriweather", serif;
    font-style: italic;
    padding: 12px;
}
.dav__cover_image_content{
    background-color: rgba(0, 0, 0, 0.219);
    color: #fff;
    opacity: 0;
}
.dav__cover_image:hover .dav__cover_image_content{
  opacity: 1;
}