.dav__popular_tours_wrapper {
  padding: 40px 30px;
  min-height: 500px;
  margin: 30px 0;
  background-color: #fafafa;
}
.dav__popular_tour_card_wrapper {
  padding: 0px !important;
}

.dav__popular_tours_row_wrapper {
  padding: 20px 50px;
}

@media screen and (max-width: 689px) {
  .dav__popular_tours_wrapper {
    padding: 30px 10px;
    margin: 0;
  }
  .dav__popular_tours_row_wrapper {
    padding: 20px 10px;
  }
  .dav__popular_tour_card_wrapper {
    margin: 30px 0;
  }
}
