.dav__popular_tours_wrapper {
  padding: 40px 30px;
  margin: 30px 0;
  background-color: #edf2f2;
}
.dav__popular_tour_card_wrapper {
  margin: 20px 0;
}
.dav__update_card_description,
.dav__update_card_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.dav__update_card_title {
  -webkit-line-clamp: 3;
}
.dav__update_card_description {
  -webkit-line-clamp: 4;
}
