.about_us_wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
}
.dav__about_us_hero {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Merriweather", serif;
  font-style: italic;
}
.dav__about_us_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  min-height: 120px;
  margin: 0 auto;
  padding: 22px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
  color: #545454;
}
.about_us_content_wrapper h4,
.dav__about_us_title h2 {
  font-family: "Merriweather", serif;
  font-style: italic;
}
.about_us_content_wrapper {
  padding: 30px 50px;
  width: 100%;
}

.dav__section_bottom_wrapper,
.dav__section_top_wrapper {
  display: flex;
  width: 100%;
}
.dav__section_bottom_wrapper{
    margin-top: 20px;
}
.dav__section_bottom_wrapper__visuals video,
.dav__section_top_wrapper__visuals video {
  border-radius: 15px;
 
  
}
.dav__section_bottom_wrapper__visuals video{
 -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
}
.dav__section_top_wrapper__content,
.dav__section_bottom_wrapper__content {
  padding: 20px;
  text-align: justify;
}


@media screen and (max-width: 689px) {
  .about_us_content_wrapper {
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .dav__section_bottom_wrapper{
      margin: 0;
  }

  .dav__section_bottom_wrapper,
  .dav__section_top_wrapper {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .dav__section_top_wrapper__visuals,
  .dav__section_top_wrapper__content{
      width: 100%;
      padding: 0px;
  }
  .dav__section_bottom_wrapper__visuals video,
  .dav__section_top_wrapper__visuals video{
    width: 100%;
  }
  .dav__section_top_wrapper__content,
  .dav__section_bottom_wrapper__content{
      padding: 10px 5px;
      
  }
}
