.gpa__registration_section{
    position: relative;
    padding-top: 23px;
    padding: 40px 50px;
    background-color: #fafafa;
}
.dav__membership_form_wrapper{
    border-radius: 3px;
    text-align: center;
    margin: 30px auto 0;
    max-width: 650px;
}
.dav__membership_row{
    display: flex;
}
.dav__membership_form_side{
    background-color: var(--dav__primary_color);
    padding: 20px;
    color: #fff;
}
.dav__registration_hero{
    padding: 20px;

}
.dav__registration_hero h1{
    margin-top: 10px;
}
.dav__membership_form{
    padding: 20px;
}
.gpa__form_input_field{
    margin-bottom: 10px!important;
}
.gpa__password_reset_link_wrapper{
    padding-top: 10px;
}
.dav__membership_submit_button{
    margin: 10px 0 20px!important;
}
@media screen and (max-width: 569px) {
    .dav__membership_row{
        flex-direction: column;
    }
    .gpa__registration_section{
        padding: 40px 20px;
    }
}