.dav__country_card {
  position: relative;
  height: 320px;
}
/* .dav__country_card img {
  display: block;
  width: 100%;
  height: 320px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

.dav__country_title_wrapper h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 20px;
  margin-top: -8px;
  padding: 4px 10px;
  background: var(--dav__primary_color);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.dav__country_title_wrapper h3:before,
.dav__country_title_wrapper h3:after {
  position: absolute;
  top: 0;
  content: "";
}
.dav__country_title_wrapper h3:before {
  position: absolute;
  top: 0;
  content: "";
  width: 0;
  right: -8px;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--dav__primary_color);
}
.dav__country_title_wrapper h3::after {
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent var(--dav__primary_color) transparent;
}

/* .dav__country_title_wrapper span {
  position: absolute;
  bottom: 20px;
  right: -5px;
  display: inline-block;
  background: #f15d30;
  padding: 4px 5px 4px 15px;
  border-radius: 20px 0 0 20px;
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
} */
/* .dav__country_title_wrapper span:after {
  position: absolute;
  top: -5px;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #c7390d;
} */
/* .dav__country_card:hover .dav__country_title_wrapper span {
  padding-right: 24px;
} */

.dav__country_content {
  position: absolute;
  bottom: 10px;
  padding: 0 20px;
  color: #fff;
  font-weight: 400;
  background-color: rgb(0 0 0 / 40%);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  opacity: 0;
  transition: all .6s ease-in-out;
}
.dav__country_card:hover .dav__country_content {
  opacity: 1;
}
