/* Tour description */
.dav__single_tour_description {
  font-size: 18px;

  & a {
    color: var(--dav__primary_color);
    &:hover {
      color: var(--dav__tertiary_color);
    }
  }
  & img {
    border-radius: 14px;
    width: 100%;
  }
  & ul {
    & li::marker {
      color: var(--dav__primary_color);
    }
  }
  & h2 {
    font-size: 22px;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #6aa441;
    margin: 15px 0;
  }
}
