.custom-configuration-editor {
  &__container {
    background: rgba(0, 0, 0, 0.09) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    margin: 20px 0;
    &-wrapper {
      // Link Modal
      .rdw-link-modal {
        background: #1e1e2d;
        box-shadow: rgb(0 0 0 / 40%) 0px 0px 40px;
        border-color: #171723;
        border-radius: 8px;
        top: 40px;
        color: #92928f;
        height: 285px;
        label {
          margin-top: 10px;
          display: flex;
          align-items: center;
          gap: 7px;
        }
        input {
          height: 40px;
          background: #171723;
          border: none;
          color: #92928f;
          padding-left: 6px;
          border-radius: 8px;
          margin: 0px;
        }
        .rdw-link-modal-buttonsection {
          margin-left: 0px;
          margin-right: 0px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8px;
          .rdw-link-modal-btn {
            width: 100%;
            margin: 0px;
            height: 40px;
            border-radius: 8px;
            background: #3699ff;
            outline: none;
            border: none;
            color: white;
            &:hover {
              background: #3699ff;
              outline: none;
              border: none;
              box-shadow: none;
            }
            &:disabled {
              background: #6fafef;
              cursor: not-allowed;
            }
          }
        }
      }
      // Image Modal
      .rdw-image-modal {
        background: #1e1e2d;
        box-shadow: rgb(0 0 0 / 40%) 0px 0px 40px;
        border-color: #171723;
        border-radius: 8px;
        top: 40px;
        // Header of Image Modal
        .rdw-image-modal-header-option {
          color: #92928f;
          .rdw-image-modal-header-label-highlighted {
            background: unset;
            border: unset;
            border-bottom: 3px solid #3699ff;
          }
        }
        // URL Section of Image Modal
        .rdw-image-modal-url-section {
          background: #171723;
          border-color: #171723;
          height: 40px;
          border-radius: 8px;
          .rdw-image-modal-url-input {
            margin: 0px;
            background: #171723;
            border: none;
            color: #92928f;
          }
        }
        // Sizes Section of Image Modal
        .rdw-image-modal-size {
          color: #92928f;
          margin-top: 20px;
          height: 40px;
          input {
            height: 40px;
            background: #171723;
            border: none;
            color: #92928f;
            padding-left: 6px;
            border-radius: 8px;
          }
        }
        // Buttons Section of Image Modal
        .rdw-image-modal-btn-section {
          margin-top: 12px;
          margin-left: 0px;
          margin-right: 0px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8px;

          .rdw-image-modal-btn {
            width: 100%;
            margin: 0px;
            height: 40px;
            border-radius: 8px;
            background: #3699ff;
            outline: none;
            border: none;
            color: white;
            &:hover {
              background: #3699ff;
              outline: none;
              border: none;
              box-shadow: none;
            }
            &:disabled {
              background: #6fafef;
              cursor: not-allowed;
            }
          }
        }
      }
      .rdw-editor-main pre {
        // background: #1e1e2d 0% 0% no-repeat padding-box;
        background: rgba(0, 0, 0, 0.09) 0% 0% no-repeat padding-box;
      }
      .rdw-editor-toolbar {
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.09);
        border: unset;
        padding: 16px 16px 14px 16px;
        gap: 5px;
        margin: 0px;
        & > div {
          &:first-child {
            padding-left: 0px;
          }
          &:last-child {
            border-right: unset;
            padding-right: 0px;
          }
        }
      }
      .rdw-option-wrapper {
        border: unset;
        background: transparent;
        padding: 8px;
        height: unset;
        border-radius: 8px;
        transition: all 0.2s ease-in;
        // color: #92928f;
        color: var(--dav__Text_color_light);
        &:hover {
          box-shadow: unset;
          background: var(--dav__primary_color) 0% 0% no-repeat padding-box;
          // background: #0a0a0e 0% 0% no-repeat padding-box;
          // color: #92928f;
        }
      }
      .rdw-option-active {
        box-shadow: unset;
        // background: #0a0a0e 0% 0% no-repeat padding-box;
        background: var(--dav__primary_color) 0% 0% no-repeat padding-box;
      }
      .public-DraftEditorPlaceholder-inner {
        // color: #92928f;
        color: var(--dav__Text_color_light);
        padding: 0px 32px;
      }
      .public-DraftStyleDefault-block {
        margin: 32px;
      }
    }

    &-editor {
      border-top: 1px dashed #323248;
      color: var(--dav__Text_color_light);
      font-weight: 300;
      min-height: 200px;
      overflow-x: hidden;
    }

    &-link {
      height: auto;
      background: #151521;
      box-shadow: 3px 3px 5px #2a2a35;
      border: 1px solid #2a2a35;
      .rdw-link-modal-label {
        color: #ffffff;
      }
      .rdw-link-modal-target-option {
        color: #ffffff;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dav__Text_color_light);
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20.8px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12.8px;
  }
  h6 {
    font-size: 11.2px;
  }
}
