* {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #545454;
  }
   /* h1, h2, h3, h4, h5 {
    margin: 0 0 0.5em;
    color: #343434;
    font-family: "Merriweather",serif;
    font-style: italic;
    line-height: 1.4;
} */
  a{
    text-decoration: none!important;
  }
  ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  }
  
  ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--dav__App_bg_dark);
    border-radius: 10px;
    background-image: linear-gradient(180deg, #588048 0%, var(--dav__secondary_color) 99%);
    border-radius: 100px;
  
  }
  
  