.dav__tour_filters_wrapper {
  display: flex;
  padding: 20px;
  width: 100%;
}
.dav__tour_filter_item_wrapper {
  display: flex;
  align-items: center;
}
.dav__country_dropdown_wrapper,
.dav__tour_search_wrapper {
  padding: 0 10px;
}

.dav__add_new_tour_icon {
  background-color: var(--dav__primary_color);
  border-radius: 20px;
  margin-left: 10px;
  padding: 3px 10px 5px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.back_btn {
  border: 1px solid #eee;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.back_btn_wrapper {
  display: flex;
  align-items: center;
  color: var(--dav__primary_color);
}
.back_btn_wrapper:hover {
  color: var(--dav__tertiary_color);
}

@media screen and (max-width: 799px) {
  .dav__tour_filters_wrapper {
    flex-direction: column;
  }
  .dav__tour_filter_item_wrapper {
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
  }
}

.dav__refresh_icon_wrapper {
  margin-left: 10px !important;
  min-height: 32px !important;
  width: 32px !important;
  height: 32px !important;
}

/*********************
    REFRESH ICON STYLE
     *********************/
@-webkit-keyframes gpa__refreshing_icon {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes gpa__refreshing_icon {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.gpa__refreshing_icon {
  -webkit-animation: gpa__refreshing_icon 2s linear infinite;
  -moz-animation: gpa__refreshing_icon 2s linear infinite;
  -ms-animation: gpa__refreshing_icon 2s linear infinite;
  -o-animation: gpa__refreshing_icon 2s linear infinite;
  animation: gpa__refreshing_icon 2s linear infinite;
}
