.dav__review_card_wrapper {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 8px 0;
}
.dav__review_user_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.dav__user_rating {
  margin-left: 5px;
  width: 100%;
}
.dav__user_rating p {
  margin-bottom: 0;
}
.dav__user_review_meta {
  display: flex;
  margin-top: 5px;
}
.dav__review_user_name,
.dav__user_review_meta span {
  font-family: "Merriweather", serif;
  font-style: italic;
  color: #343434;
  text-transform: capitalize;
  margin-left: 10px;
}
.dav__review__person__visit_date,
.dav__review__person__reviewed {
  font-size: 12px;
  display: flex;
  width: 50%;
}
.dav__user_review {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
