.dav__contact_us_hero {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.dav__contact_us_hero h1 {
  max-width: 75%;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 0 20px #000;
  font-weight: 600;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 600;
}

.dav__contact_us_form_wrapper,
.dav__contact_info_wrapper {
  background-color: #f5f5f5;
  padding: 10px 50px 30px;
  display: flex;
  align-items: flex-start;
}
.dav__office_arrangements_wrapper,
.dav__safaries_contact_details {
  margin: 10px;
}
.dav__safaries_contact_details {
  width: 70%;
}
.dav__office_arrangements_wrapper {
  width: 30%;
}

.dav__map_wrapper {
  padding: 10px;
}

/* ====CONTACT EXPERT -OFFICE HOURS==== */
.dav__office_hours,
.dav__contact_country_expert_card {
  padding: 17px 20px;
  margin: 10px 0;
}

.dav__office_hours h3,
.dav__contact_country_expert_card h3 {
  color: #343434;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.4;
  text-align: center;
}

.dav__contact_country_expert_card img {
  flex-shrink: 0;
  width: 70px;
  margin-right: 16px;
  padding: 0;
  border-radius: 50%;
  background-size: 40px;
  height: 70px;
}
.specialist__text {
  display: flex;
}
.dav__about_country_section p {
  text-align: justify;
}

.dav__contact_country_expert_contact {
  text-align: center;
  list-style-type: none;
}
.dav__contact_country_expert_contact li {
  padding: 0px 0;
  border-bottom: 1px solid #eee;
}
.dav__contact_country_expert_contact li a {
  color: var(--dav__primary_color);
}

.dav__office_hours ul {
  list-style-type: none;
  padding-top: 5px;
}
.dav__office_hours ul li {
  line-height: 1.7;
  display: flex;
  justify-content: space-around;
}

/* ==== SEND MESSAGE-OFFICE LOCATION DETAILS==== */

.dav__contact_us_form,
.dav__connect_wrapper {
  margin: 10px;
  
}
.dav__contact_us_form {
  width: 70%;
  display: flex;
  padding: 20px;
}
.dav__connect_wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.dav__newsletter_wrapper,
.dav__contact_details{
  padding: 20px;
  margin-bottom: 10px;

}
.dav__newsletter_wrapper h5,
.dav__contact_details h5{
    font-family: "Merriweather", serif;
    font-style: italic;
}

.dav__newsletter_form_wrapper{
  text-align: center;
}
.dav__newsletter_form_wrapper button{
  margin: 10px 0;
}
.dav__subscribe_form_field{
  margin: 20px 0;
  
}

/* ====OFFICE LOCATION AND CONTACTS==== */
.dav__address_details {
  padding: 10px;
}
.dav__phone_contacts_title,
.dav__address_title {
  display: flex;
  color: #343434;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.4;
}
.dav__phone_contacts_title svg,
.dav__address_title svg {
  color: var(--dav__secondary_color);
  margin-right: 5px;
}
.dav__address_content {
  padding-left: 25px;
}
.dav__phone_contacts_content ul {
  list-style-type: none;
}
.dav__phone_contacts_content ul a{
    color: #343434;
}
.dav__phone_contacts_content ul a:hover{
    color: var(--dav__primary_color);
}

@media screen and (max-width: 678px) {
  .dav__contact_us_form_wrapper,
  .dav__contact_info_wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .dav__contact_us_form {
    flex-direction: column;
  }
  .dav__contact_us_form,
  .dav__connect_wrapper,
  .dav__safaries_contact_details,
  .dav__office_arrangements_wrapper {
    width: 100%;
    margin: 10px 0;
  }
  .dav__address_details{
      padding-top: 30px;
  }
}
