.dav__popular_tours_section_title{
    margin-bottom: 60px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.dav__popular_title{
    margin-bottom: 10px;
    font-size: 1.200em;
    color: #4e657e;
    line-height: 1.3em;
}
.dav__popular_tours_section_title h3{
    margin: 0;
    line-height: 1.333em;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--dav__primary_color);
    font-family: "Merriweather",serif;
    font-style: italic;
    
}
.dav__popular_section_underline:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    bottom: 1px;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    color: var(--dav__primary_color);

}
.dav__popular_section_underline:after {
    content: ' ';
    display: block;
    position: absolute;
    height: 1px;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 50px;
    border-style: solid;
    border-width: 3px 0 0 0;
    color: var(--dav__primary_color);

}